body {
    background-color: rgb(35, 34, 34);
    margin: 12px;
}

lable {
    font: 25px solid;
}
#notes {
    background-image: url("n.png");

}

@media (max-width: 700px) and (min-width: 300px) {
    #notes{
        background-size: 34px;
    }

}
@media (max-width: 800px) and (min-width: 700px) {
    #notes{
        background-size: 35px;
    }

}

#tutorial {
    background-image: url("yout.png");
}

@media (max-width: 700px) and (min-width: 300px) {
    #tutorial{
        background-size: 35px;
    }

}
@media (max-width: 800px) and (min-width: 700px) {
    #tutorial{
        background-size: 35px;
    }

}
#qa {
    background-image: url("n.png");
}

@media (max-width: 700px) and (min-width: 300px) {
    #qa{
        background-size: 34px;
    }

}
@media (max-width: 800px) and (min-width: 700px) {
    #qa{
        background-size: 35px;
    }

}
fieldset {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(35, 132, 242);
    border: 1.5px solid white;
    border-radius: 25px;
    padding: 1.5% 1.5% 2% 2%;
    margin: 3px;
}

input[type="button"] {

    border-radius: 15px;

    background-repeat: no-repeat;
    background-position: left;
    background-position-y: 21%;
    background-position-x: 97%;

    width: 90%;
    height: 28%;
    text-align: left;
    background-size: 3%;
    margin: 0.5% 0.5% 0.5% 2.5%;
    font-size: 25px;
    padding-inline-start: 1.5%;
    padding-top: 0.5%;
    padding-bottom: 1.0%;
}

input:hover {
    background-color: rgb(237, 139, 218);
    transform: scale(1.1);
    border: 0.5% rgb(37, 121, 231);
}

@media (max-width: 500px) and (min-width: 250px) {

    fieldset {
        font-size: 30px;
        border-radius: 25px;
        padding: 1.5% 1.5% 2% 2%;
        margin: 3px;
    }

    input[type="button"] {
        border-radius: 15px;
        background-repeat: no-repeat;
        background-position: left;
        background-position-y: 21%;
        background-position-x: 97%;
        width: 90%;
        height: 28%;
        text-align: left;
        background-size: 5%;
        margin: 0.5% 0.5% 0.5% 2.5%;
        font-size: 25px;
        padding-inline-start: 1.5%;
        padding-top: 0.5%;
        padding-bottom: 1.0%;
        border-radius: 17px;
        background-position-y: 21%;
        background-position-x: 97%;
        background-size: 8%;
    }

    input.example {
        font-size: 10px;
    }

    input.exaple [type="button"] {
        background-size: 8%;
    }
}

@media (min-width: 500px) and (max-width: 1082px) {
    lable.example {
        font-size: 5px;
    }

    input.example {
        font: size 10px;
    }

    input.example [type="button"] {
        background-size: 1.5%;
    }
}

lable {
    font-size: max 30em;
    font-size: min 12em;
}

input:hover {
    background-color: rgb(55, 134, 237);
    transform: scale(1.1);
    border: 0.5% rgb(37, 121, 231);
}

@media (min-width:150px) and (max-width: 300px) {
    #html {
        background-size: 8%;
    }

    #javascript {
        background-size: 8%;
    }

    #react {
        background-size: 12%;
    }

    #mongodb {
        background-size: 5%;
    }

    #docker {
        background-size: 10%;
    }

    #git {
        background-size: 15%;
    }

    #php {
        background-size: 14%;
    }
}
#html {
    background-image: url("html.png");
}

@media (max-width: 700px) and (min-width: 300px) {
    #html {
        background-size: 7%;
    }

}

#javascript {
    background-image: url("Javascript.png");
}

@media (max-width: 700px) and (min-width: 300px) {
    #javascript {
        background-size: 7%;
    }

}

#react {
    background-image: url("React.png");
}

@media (max-width: 700px) and (min-width: 300px) {
    #react {
        background-size: 9%;
    }

}

#mongodb {
    background-image: url("Mongo.png");
}

@media (max-width: 700px) and (min-width: 300px) {
    #mongodb {
        background-size: 5%;
    }

}

#docker {
    background-image: url("Docker.png");
}

@media (max-width: 700px) and (min-width: 300px) {
    #docker {
        background-size: 10%;
    }

}

#git {
    background-image: url("Git.png");
}

@media (max-width: 700px) and (min-width: 300px) {
    #git {
        background-size: 10%;
    }

}

#php {
    background-image: url("php.png");
}

@media (max-width: 700px) and (min-width: 300px) {
    #php {
        background-size: 15%;
    }

}